.wishlist{
    display: flex;
    padding-top: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.00938em;
    color: #878787;
}
.wishlist-text{
    padding-top: 9px;
}
.popover-heading{
    font-weight: bolder;
}


@media only screen and (max-width: 450px) {
    .cart-label{
        display: none;
    }
    .username{
        display: none;
    }
}
@media only screen and (max-width:360px) {
    .cart-label{
        display: none;
    }
    .username{
        display: none;
    }
}